.input:focus {
}

.input {
    outline: none;
    width: 372px;
    height: 36px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px #CC1439 solid;
}

.errorInput:focus {
    border: 1px #CC1439 solid;
}

.error {
    color: red;
}
